/* 

Add the Google Fonts you want, remove the ones you don't. 

███████  ██████  ███    ██ ████████ ███████ 
██      ██    ██ ████   ██    ██    ██      
█████   ██    ██ ██ ██  ██    ██    ███████ 
██      ██    ██ ██  ██ ██    ██         ██ 
██       ██████  ██   ████    ██    ███████ 

*/

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Croissant+One&display=swap");

/*

Imported stylesheets. Remove the ones you do not want to use.

██ ███    ███ ██████   ██████  ██████  ████████      ██████ ███████ ███████ 
██ ████  ████ ██   ██ ██    ██ ██   ██    ██        ██      ██      ██      
██ ██ ████ ██ ██████  ██    ██ ██████     ██        ██      ███████ ███████ 
██ ██  ██  ██ ██      ██    ██ ██   ██    ██        ██           ██      ██ 
██ ██      ██ ██       ██████  ██   ██    ██         ██████ ███████ ███████ 

*/

@import url("make-something-fly.css");
@import url("animated-gradient.css");
@import url("text-stroke.css");
@import url("stroke-shadow.css");
@import url("scroll-to-top.css");
/*

X-Small devices (portrait phones, less than 576px) 
No media query for `xs` since this is the default in Bootstrap 

███    ███  ██████  ██████  ██ ██      ███████     ███████ ██ ██████  ███████ ████████ 
████  ████ ██    ██ ██   ██ ██ ██      ██          ██      ██ ██   ██ ██         ██    
██ ████ ██ ██    ██ ██████  ██ ██      █████       █████   ██ ██████  ███████    ██    
██  ██  ██ ██    ██ ██   ██ ██ ██      ██          ██      ██ ██   ██      ██    ██    
██      ██  ██████  ██████  ██ ███████ ███████     ██      ██ ██   ██ ███████    ██    
                                                                                       
*/

/* Add Border Box and Smooth Scroll */

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Use variable for to easily change your theme's colour scheme and typography.

██    ██  █████  ██████  ██  █████  ██████  ██      ███████ ███████ 
██    ██ ██   ██ ██   ██ ██ ██   ██ ██   ██ ██      ██      ██      
██    ██ ███████ ██████  ██ ███████ ██████  ██      █████   ███████ 
 ██  ██  ██   ██ ██   ██ ██ ██   ██ ██   ██ ██      ██           ██ 
  ████   ██   ██ ██   ██ ██ ██   ██ ██████  ███████ ███████ ███████ 
                                                                    
*/

/* Design variables refer to CSS variables that store specific design elements, such as colors and typography, which can be utilized throughout a website. Instead of individually modifying each CSS element, designers can quickly make changes by using design variables. Adjust the variables below, create new variables as desired, and delete the variables that you do not want to use. */

:root {
  --body-typeface: "Open Sans", sans-serif;
  --heading-typeface: "Croissant One", cursive;
  --project-title-typeface: "Croissant One", cursive;
  --background-color: #0f0f0f;
  --background-color-about: #0f0f0f;
  --background-color-footer: #0f0f0f;
  --alt-background-color: #000000;
  --background-color-holding-page: #0f0f0f;
  --h1-color: #ffffff;
  --h2-color: #ffffff;
  --h3-color: #ffffff;
  --h4-color: #ffffff;
  --h5-color: #ffffff;
  --h6-color: #ffffff;
  --primary-text-color: #ffffff;
  --holding-page-title-color: #ffffff;
  --overlay-color: #50a9ff;
  --overlay-title-color: #ffffff;
  --overlay-description-color: #ffffff;
  --hyperlink-color: #ffffff;
  --hyperlink-alternate-color: #ff47c2;
  --hover-color: #ff47c2;
  --visited-color: #ffffff;
  --project-title-color: #ffffff;
  --project-sidebar-background-color: #0f0f0f;
  --project-sidebar-text-color: white;
  --project-sidebar-subtext-color: rgb(150, 150, 150);
  --heart-color: #ff47c2;
  --holding-page-footer-color: #0f0f0f;
  --text-selection-background-color: #c5a6f9;
  --linear-gradient-color-1: #ff057c;
  --linear-gradient-color-2: #8d0b93;
  --linear-gradient-color-3: #321575;
  --stroke-shadow-color: rgba(0, 0, 0, 0.4);
}

body {
  font-family: var(--body-typeface);
  color: var(--primary-text-color);
  background: var(--background-color);
  display: flex;
  flex-direction: column;
  line-height: 2rem;
  min-height: 100vh;
}

/* The ::selection CSS pseudo-element applies styles to the part of a document that has been highlighted by the user (such as clicking and dragging the mouse across text). */

::selection {
  background: var(--accent-color);
}

/* Make all images responsive */
img,
svg {
  max-width: 100%;
  height: auto;
  vertical-align: top;
  /* Removes the gap/space in inline elements for text descenders. */
  object-fit: contain;
  /* This is optional. Also try cover or leave out entirely. */
}

/* Global & Mobile Typography 

████████ ██    ██ ██████   ██████   ██████  ██████   █████  ██████  ██   ██ ██    ██ 
   ██     ██  ██  ██   ██ ██    ██ ██       ██   ██ ██   ██ ██   ██ ██   ██  ██  ██  
   ██      ████   ██████  ██    ██ ██   ███ ██████  ███████ ██████  ███████   ████   
   ██       ██    ██      ██    ██ ██    ██ ██   ██ ██   ██ ██      ██   ██    ██    
   ██       ██    ██       ██████   ██████  ██   ██ ██   ██ ██      ██   ██    ██    
                                                                                     
*/

h1 {
  font-size: 2rem;
  font-family: var(--heading-typeface);
  margin-bottom: 1rem;
  color: var(--h1-color);
}

h2 {
  font-size: 2.25rem;
  font-family: var(--heading-typeface);
  margin-bottom: 1rem;
  color: var(--h2-color);
}

.without-e {
  font-size: 1.25rem;
  font-family: var(--heading-typeface);
  color: #c5a6f9;
}

h3 {
  font-size: 1.325rem;
  margin-bottom: 1rem;
  line-height: 1.3;
  color: var(--h3-color);
}

h4 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: var(--h4-color);
}

h5 {
  font-size: 1.1rem;
  margin-bottom: 1rem;
  color: var(--h5-color);
}

h6 {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: var(--h6-color);
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
}

em {
  font-style: italic;
}

.fineprint {
  font-size: 0.875rem;
}

.hero-headline {
  font-family: var(--body-typeface);
  font-size: 1.2rem;
  line-height: 1.4;
}

.project-title {
  font-size: 2.5rem;
  line-height: 1.5;
  font-family: var(--project-title-typeface);
  color: var(--project-title-color);
  margin-bottom: 1rem;
}

.overlay-title {
  font-size: 2.875rem;
  color: var(--overlay-title-color);
}

.overlay-description {
  color: var(--overlay-description-color);
}

/* Hyperlink Styles */

a:link {
  color: var(--hyperlink-color);
  text-decoration: none;
}

a:visited {
  color: var(--visited-color);
}

a:hover {
  color: var(--hover-color);
}

a:focus {
  outline: 1px solid var(--accent-color);
}

a:active {
  color: var(--hover-color);
  /* Tap on mobile */
}

.navigation-arrow {
  color: var(--alt-background-color);
}

.arrow_down {
  position: relative;
  top: -5px;
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  border-right: 0.2em solid white;
  border-top: 0.2em solid white;
  transform: rotate(135deg);
  margin-top: 1em;
  margin-right: 0.5em;
  margin-left: 1em;
}
.arrow_down:hover {
  border-right: 0.2rem solid #ff47c2;
  border-top: 0.2em solid #ff47c2;
}

.arrow_right:hover {
  border-right: 0.2rem solid #ff47c2;
  border-top: 0.2em solid #ff47c2;
}

.arrow_left:hover {
  border-right: 0.2rem solid #ff47c2;
  border-top: 0.2em solid #ff47c2;
}

.arrow_right {
  position: relative;
  top: -5px;
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  border-right: 0.2em solid white;
  border-top: 0.2em solid white;
  transform: rotate(43deg);
  margin-top: 1em;
  margin-right: 0.5em;
  margin-left: 1em;
}

.arrow_left {
  position: relative;
  top: -5px;
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  border-right: 0.2em solid white;
  border-top: 0.2em solid white;
  transform: rotate(223deg);
  margin-top: 1em;
  margin-right: 0.5em;
  margin-left: 1em;
}

.arrow_ease {
  transition: ease;
}

.navigation-arrow:link {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--accent-color);
  color: transparent;
}

.navigation-arrow:active,
.navigation-arrow:hover {
  color: var(--accent-color);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--accent-color);
}

.colored-link {
  color: var(--hyperlink-alternate-color);
}

.custom-navigation {
  font-size: 1.3rem;
  font-weight: 900;
}

.custom-navigation:hover {
  background: url(assets/temp/heading-background.svg);
  background-size: 15%;
  background-repeat: no-repeat;
  background-position: center center;
}

.heart {
  color: var(--heart-color);
}

.footer-nav-item {
  line-height: 1.3;
}

.award-item {
  line-height: 1.3;
}

.social-item {
  font-size: 25px;
  padding: 1.3;
  color: #ffffff;
  line-height: 1.3;
}

.list-item {
  line-height: 1.3;
  list-style-type: disc;
  margin-left: 1.2rem;
}

.project-description {
  margin-top: 3rem;
  font-size: 1.2rem;
  line-height: 1.8;
  margin-bottom: 1rem;
}

.projectsub-description {
  margin-top: 1.5rem;
  font-size: 1em;
  line-height: 1.2;
  margin-bottom: 1rem;
  color: rgb(194, 194, 194);
}

/* Hero 

██   ██ ███████ ██████   ██████  
██   ██ ██      ██   ██ ██    ██ 
███████ █████   ██████  ██    ██ 
██   ██ ██      ██   ██ ██    ██ 
██   ██ ███████ ██   ██  ██████  
                                 
*/

.hero {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.branding-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  align-items: flex-start;
}

.hero-headline-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: 4rem 2rem;
  text-align: center;
}

.hero-icon {
  font-size: 4rem;
}

.hero-footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.hero-footer-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  position: sticky;
  top: 0;
}

/* Work Page Layout

██     ██  ██████  ██████  ██   ██     ██████   █████   ██████  ███████ 
██     ██ ██    ██ ██   ██ ██  ██      ██   ██ ██   ██ ██       ██      
██  █  ██ ██    ██ ██████  █████       ██████  ███████ ██   ███ █████   
██ ███ ██ ██    ██ ██   ██ ██  ██      ██      ██   ██ ██    ██ ██      
 ███ ███   ██████  ██   ██ ██   ██     ██      ██   ██  ██████  ███████ 

*/

.work-wrapper {
  flex: 1;
}

/* Grayscale filter with full-colour on hover and tap */
.work-page-grid-item a.grayscale img {
  filter: grayscale(100);
}

.work-page-grid-item > a.grayscale:active img,
.work-page-grid-item > a.grayscale:hover img {
  filter: grayscale(0);
}

/* Padding around work grid and project page */
.portfolio,
.project-wrapper {
  padding: 0.25rem;
}

/* Defining the work page grid */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
  /* Magical, media-query-less responsiveness is achieved using the repeat() function and the auto placement keywords. To achieve wrapping, we can use the auto-fit. If you're using auto-fit, the content will stretch to fill the entire row width.  Specify a minimum width for the columns, using the minmax() function. The 1fr is what tells the browser to distribute the space between the columns so that each column equally gets one fraction of that space.  */
}

.work-page-grid-item {
  width: 100%;
  height: auto;
  position: relative;
  /* Required to contain overlay size */
}

.effect1 {
  background: url(../assets/branding-images/halftone-overlay.png);
}

.mailto-link {
  position: relative;
  padding: 8px 0;
}

.mailto-message {
  top: 1px;
  left: 50%;
  margin-bottom: -5px;
  transform: translate(-50%, -100%);
  position: absolute;
  display: none;
  width: auto;
  white-space: nowrap;
  font-size: 12px;
  color: white;
  padding: 2px 6px;
  border-radius: 2px;
}
.mailto-message:after,
.mailto-message:before {
  content: "";
}
.mailto-message:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(0, 0, 0, 0);
  border-top-color: #000000;
  border-width: 4px;
  margin-left: -4px;
}

.mailto-link:hover .mailto-message,
.mailto-link:focus .mailto-message,
.mailto-link:focus-within .mailto-message {
  display: block;
}

input {
  padding: 0.6em 1.2em;
  border: 0;
  border-radius: 4px;
  font-size: 1.3em;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.25);
}

/* 

 █████  ██████   ██████  ██    ██ ████████ 
██   ██ ██   ██ ██    ██ ██    ██    ██    
███████ ██████  ██    ██ ██    ██    ██    
██   ██ ██   ██ ██    ██ ██    ██    ██    
██   ██ ██████   ██████   ██████     ██    
                                           
*/

.about {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 2fr;
  background: var(--background-color-about);
  padding: 1rem;
  flex: 1;
}

.about-item-1 {
  grid-column: 2/5;
  grid-row: 1/2;
}

.about-item-2 {
  padding: 2rem;
  grid-column: 1/6;
  grid-row: 2/3;
}

.parapgraph {
  line-height: 1.7rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 2rem;
}

/* Global Footer

███████  ██████   ██████  ████████ ███████ ██████  
██      ██    ██ ██    ██    ██    ██      ██   ██ 
█████   ██    ██ ██    ██    ██    █████   ██████  
██      ██    ██ ██    ██    ██    ██      ██   ██ 
██       ██████   ██████     ██    ███████ ██   ██ 
                                                   
*/

.global-footer {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  grid-gap: 3rem;
  padding-top: 5rem;
  min-height: 50vh;
  background: var(--background-color-footer);
  padding: 0.7rem;
}

.footer-heading {
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.footer-item-1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.footer-item-2 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.footer-item-3 {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.footer-item-4 {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
  margin-bottom: 2rem;
}

.awards-list {
  margin-bottom: 1rem;
}

.icon-spacing {
  padding-left: 4px;
  padding-top: 1px;
}

/* Project Page 

██████  ██████   ██████       ██ ███████  ██████ ████████     ██████   █████   ██████  ███████ 
██   ██ ██   ██ ██    ██      ██ ██      ██         ██        ██   ██ ██   ██ ██       ██      
██████  ██████  ██    ██      ██ █████   ██         ██        ██████  ███████ ██   ███ █████   
██      ██   ██ ██    ██ ██   ██ ██      ██         ██        ██      ██   ██ ██    ██ ██      
██      ██   ██  ██████   █████  ███████  ██████    ██        ██      ██   ██  ██████  ███████ 
                                                                                               
*/

.project-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Sidebar */
.project-aside {
  width: 100%;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  color: var(--project-sidebar-text-color);
  background: var(--project-sidebar-background-color);
}

.project-navigation {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  flex: 1;
  justify-content: center;
}

.arrow-navigation {
  padding-top: 2rem;
  justify-content: center;
  padding-right: 1rem;
}

.arrow {
  padding: 0;
}

.project-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.project-image {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.large-emoji-placeholder {
  font-size: 12rem; /* This is for making the placeholder emojis large and should be deleted */
}

.text-section {
  width: 100%;
}

.project-text {
  width: 100%;
  font-size: 2.25rem;
  padding: 3rem;
}

/* Main Project Image Area */

.project-details {
  width: 100%;
}

/* 

██   ██  ██████  ██      ██████  ██ ███    ██  ██████  
██   ██ ██    ██ ██      ██   ██ ██ ████   ██ ██       
███████ ██    ██ ██      ██   ██ ██ ██ ██  ██ ██   ███ 
██   ██ ██    ██ ██      ██   ██ ██ ██  ██ ██ ██    ██ 
██   ██  ██████  ███████ ██████  ██ ██   ████  ██████  
                                                       
*/

.holding-page-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  place-items: center;
  text-align: center;
  width: 100%;
  min-height: 100vh;
  /* Delete the following if you do not want a grainy gradient background on the holding page */
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 1),
      var(--background-color-holding-page)
    ),
    url(/assets/temp/noise.svg);
  /* For more on grainy gradients see https://grainy-gradients.vercel.app/ */
}

.holding-page-animation {
  margin-bottom: 1rem;
}

.holding-page-title {
  font-size: 1.5rem;
  color: var(--holding-page-title-color);
}

.holding-page-footer {
  display: grid;
  place-items: center;
  min-height: 10vh;
  width: 100%;
}

.holding-page-copyright {
  font-size: 0.8rem;
  color: var(--holding-page-footer-color);
  margin-bottom: 0;
}

/*
███████╗████████╗██╗   ██╗██╗     ███████╗     ██████╗ ██╗   ██╗██╗██████╗ ███████╗
██╔════╝╚══██╔══╝╚██╗ ██╔╝██║     ██╔════╝    ██╔════╝ ██║   ██║██║██╔══██╗██╔════╝
███████╗   ██║    ╚████╔╝ ██║     █████╗      ██║  ███╗██║   ██║██║██║  ██║█████╗  
╚════██║   ██║     ╚██╔╝  ██║     ██╔══╝      ██║   ██║██║   ██║██║██║  ██║██╔══╝  
███████║   ██║      ██║   ███████╗███████╗    ╚██████╔╝╚██████╔╝██║██████╔╝███████╗
╚══════╝   ╚═╝      ╚═╝   ╚══════╝╚══════╝     ╚═════╝  ╚═════╝ ╚═╝╚═════╝ ╚══════╝
 */

.style-guide-page-wrapper {
  padding: 3rem;
}

/*
███████ ██████  ██████   ██████  ██████  
██      ██   ██ ██   ██ ██    ██ ██   ██ 
█████   ██████  ██████  ██    ██ ██████  
██      ██   ██ ██   ██ ██    ██ ██   ██ 
███████ ██   ██ ██   ██  ██████  ██   ██ 
*/

.error-page {
  display: grid;
  place-items: center;
}

.error-page-inner-container {
  text-align: center;
}

.error-page-title {
  color: var(--accent-color);
}

/*

██████  ██       █████  ██    ██ 
██   ██ ██      ██   ██  ██  ██  
██████  ██      ███████   ████   
██      ██      ██   ██    ██    
██      ███████ ██   ██    ██    
*/

.play-page {
  display: grid;
  place-items: center;
}

.play-page-inner-container {
  text-align: center;
}

.play-page-title {
  color: var(--accent-color);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 2.22222222vh;
  padding: 3.5vh 3.5vh 3.5vh 3.5vh;
  /* place-items: center; */
}

/* bring to front by click */
.top {
  z-index: 100;
}

.gallery {
  margin: 30px;
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.illustration {
  width: 23rem;
  height: auto;
  object-fit: cover;
}

.illustration2 {
  width: 70rem;
  height: auto;
  object-fit: cover;
}

.illustration:hover {
  transform: scale(1.2);
  transition-duration: 1s;
}

.illustration2:hover {
  transform: scale(1.2);
  transition-duration: 1s;
}

.playground {
  object-fit: cover;
}
.playground:hover {
  transform: scale(1.2);
  transition-duration: 1s;
}

/*
███████ ██   ██ ██████  ███████ ██████  ██ ███    ███ ███████ ███    ██ ████████ ███████ 
██       ██ ██  ██   ██ ██      ██   ██ ██ ████  ████ ██      ████   ██    ██    ██      
█████     ███   ██████  █████   ██████  ██ ██ ████ ██ █████   ██ ██  ██    ██    ███████ 
██       ██ ██  ██      ██      ██   ██ ██ ██  ██  ██ ██      ██  ██ ██    ██         ██ 
███████ ██   ██ ██      ███████ ██   ██ ██ ██      ██ ███████ ██   ████    ██    ███████ 
*/

.experiments-page {
  display: grid;
  place-items: center;
}

.experiments-page-inner-container {
  text-align: center;
  min-height: 100vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.experiments-page-title {
  color: var(--accent-color);
  font-size: 2rem;
}

.experiment-1-wrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  flex: 1;
}

.experiment-2-wrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.sub-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1rem;
  text-align: center;
}

a.sub-navigation-link {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
  padding: 1rem;
}

a.sub-navigation-link:hover {
  color: var(--accent-color);
  padding: 1rem;
}

/* Let's size the boxes */

.experiment-box {
  width: 50%;
  padding: 2rem;
  display: grid;
  place-items: center;
}

.image {
  width: 40%;
}

/* Let's hide box 2 */

.experiment-image-2 {
  display: none;
}

.experiment-image-single {
  width: 20rem;
  padding: 2rem;
  display: grid;
  place-items: center;
}

#heyday-logo-blue {
  animation: rotation 9s infinite linear;
}

/*@-webkit-keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}/*

/*

███    ███ ███████ ██████  ██  █████       ██████  ██    ██ ███████ ██████  ██ ███████ ███████ 
████  ████ ██      ██   ██ ██ ██   ██     ██    ██ ██    ██ ██      ██   ██ ██ ██      ██      
██ ████ ██ █████   ██   ██ ██ ███████     ██    ██ ██    ██ █████   ██████  ██ █████   ███████ 
██  ██  ██ ██      ██   ██ ██ ██   ██     ██ ▄▄ ██ ██    ██ ██      ██   ██ ██ ██           ██ 
██      ██ ███████ ██████  ██ ██   ██      ██████   ██████  ███████ ██   ██ ██ ███████ ███████ 

*/
.grid-container {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(380, 2.06666666666vh);
  padding: 2.3rem;
  /* Top Right Bottom Left */
}
.hero-headline-wrapper {
  padding: 4rem 2rem;
}
.playground-1 {
  grid-column: 1/42;
  grid-row: 1;
}
.playground-2 {
  grid-column: 1/42;
  grid-row: 49;
}
.playground-3 {
  grid-column: 1/42;
  grid-row: 97;
}

.playground-4 {
  grid-column: 23/42;
  grid-row: 167;
}
.playground-5 {
  grid-column: 2/42;
  grid-row: 323;
}
.playground-6 {
  grid-column: 23/42;
  grid-row: 189;
}

.playground-8 {
  grid-column: 2/42;
  grid-row: 347;
}
.playground-9 {
  grid-column: 2/22;
  grid-row: 193;
}
.playground-10 {
  grid-column: 2/22;
  grid-row: 221;
}
.playground-11 {
  grid-column: 2/22;
  grid-row: 249;
}
.playground-12 {
  grid-column: 1/42;
  grid-row: 211;
}
.playground-13 {
  grid-column: 2/42;
  grid-row: 267;
}
.playground-14 {
  grid-column: 2/22;
  grid-row: 1;
}
.playground-15 {
  grid-column: 2/22;
  grid-row: 249;
}
.playground-16 {
  grid-column: 23/42;
  grid-row: 145;
}

/* MEDIUM DEVICES
/* Large devices (desktops, 550px and up) */
@media (min-width: 550px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(32, 1fr);
    grid-template-rows: repeat(300, 2.06666666666vh);
    padding: 2rem;
  }
  .project-aside {
    width: 100%;
    padding: 3rem;
    padding-left: 4.5rem;
    display: flex;
    flex-direction: column;
    color: var(--project-sidebar-text-color);
    background: var(--project-sidebar-background-color);
  }

  .hero-headline {
    font-size: 1.4rem;
  }

  .arrow-navigation {
    padding-top: 2rem;
    justify-content: center;
    padding-right: 2rem;
  }
  .about {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 6fr;
    background: var(--background-color-about);
    padding: 1rem;
    flex: 1;
  }

  .about-item-1 {
    grid-column: 2/5;
    grid-row: 1/2;
  }

  .about-item-2 {
    padding: 2rem;
    grid-column: 1/6;
    grid-row: 2/3;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(350, 2.06666666666vh);
    padding: 2.3rem;
    /* Top Right Bottom Left */
  }
  .playground-1 {
    grid-column: 16/32;
    grid-row: 1;
  }
  .playground-2 {
    grid-column: 2/15;
    grid-row: 25;
  }
  .playground-3 {
    grid-column: 16/32;
    grid-row: 29;
  }
  .playground-4 {
    grid-column: 16/32;
    grid-row: 72;
  }
  .playground-5 {
    grid-column: 2/15;
    grid-row: 13;
  }
  .playground-6 {
    grid-column: 16/32;
    grid-row: 86;
  }
  .playground-8 {
    grid-column: 2/15;
    grid-row: 79;
  }
  .playground-9 {
    grid-column: 2/15;
    grid-row: 94;
  }
  .playground-10 {
    grid-column: 2/15;
    grid-row: 109;
  }
  .playground-11 {
    grid-column: 2/15;
    grid-row: 124;
  }
  .playground-12 {
    grid-column: 16/32;
    grid-row: 100;
  }
  .playground-13 {
    grid-column: 2/15;
    grid-row: 50;
  }
  .playground-14 {
    grid-column: 2/15;
    grid-row: 1;
  }
  .playground-15 {
    grid-column: 16/32;
    grid-row: 133;
  }
  .playground-16 {
    grid-column: 16/32;
    grid-row: 58;
  }
  .logo {
    padding-top: 5px;
    width: 2rem;
  }

  .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: 0.75s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-blend-mode: multiply;
    opacity: 50%;
  }
  .project-link .grayscale {
    filter: grayscale(100%);
  }
  .project-link:hover .grayscale {
    filter: grayscale(0%);
  }
  .work-page-grid-item:hover .effect1 {
    opacity: 0;
  }
}

/* LARGE DEVICES
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .holding-page-title {
    font-size: 2rem;
  }
  .logo {
    padding-top: 5px;
    width: 2.5rem;
  }

  h1 {
    font-size: 4.275rem;
  }

  h2 {
    font-size: 2.25rem;
  }

  h3 {
    font-size: 1.625rem;
  }

  .hero {
    min-height: 80vh;
  }

  .grid {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 1rem;
  }

  .global-footer {
    padding: 4rem 4rem 0 4rem;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .about {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 3fr;
    background: var(--background-color-about);
    padding: 1rem;
    flex: 1;
  }

  .about-item-1 {
    grid-column: 1/3;
    padding-bottom: 0;
  }

  .about-item-2 {
    padding-top: 5rem;
    padding: 2rem;
    padding-bottom: 0;
    grid-column: 3/5;
    grid-row: 1/3;
  }

  .footer-item-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .footer-item-2 {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }

  .footer-item-3 {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
  }

  .footer-item-4 {
    grid-row: 2 / 3;
    grid-column: 1 / 4;
    text-align: center;
    align-self: end;
    margin-bottom: 2rem;
  }

  .hero-headline-wrapper {
    padding: 4rem 11rem;
  }

  .arrow-navigation {
    padding-top: 2rem;
    justify-content: center;
    padding-right: 3rem;
  }

  /* Padding around work grid and project page */
  .portfolio,
  .project-wrapper {
    padding: 0.9rem;
  }

  /* Project Page Flex Direction on Large Devices */
  .project-wrapper {
    flex-direction: row;
  }

  /* Sidebar on Large Devices */
  .project-aside {
    width: 35%;
    height: 65vh;
    position: -webkit-sticky;
    position: sticky;
    top: 5vh;
    padding-right: 2rem;
  }

  /* Main Project Image Area on Large Devices */
  .project-details {
    width: 65%;
  }

  .project-image-container {
    flex-direction: row;
  }

  .project-navigation {
    justify-content: flex-start;
  }

  .arrow {
    padding-right: 1rem;
  }
  .playground-1 {
    grid-column: 17/42;
    grid-row: 1;
  }
  .playground-2 {
    grid-column: 2/16;
    grid-row: 49;
  }
  .playground-3 {
    grid-column: 17/42;
    grid-row: 53;
  }
  .playground-4 {
    grid-column: 17/42;
    grid-row: 128;
  }
  .playground-5 {
    grid-column: 2/16;
    grid-row: 25;
  }
  .playground-6 {
    grid-column: 17/42;
    grid-row: 152;
  }
  .playground-8 {
    grid-column: 2/16;
    grid-row: 161;
  }
  .playground-9 {
    grid-column: 2/16;
    grid-row: 191;
  }
  .playground-10 {
    grid-column: 2/16;
    grid-row: 221;
  }
  .playground-11 {
    grid-column: 2/16;
    grid-row: 251;
  }
  .playground-12 {
    grid-column: 17/42;
    grid-row: 176;
  }
  .playground-13 {
    grid-column: 2/16;
    grid-row: 101;
  }
  .playground-14 {
    grid-column: 2/16;
    grid-row: 1/25;
  }
  .playground-15 {
    grid-column: 17/42;
    grid-row: 236;
  }
  .playground-16 {
    grid-column: 17/42;
    grid-row: 105;
  }
}

/* EXTRA LARGE DEVICES
/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  .playground-1 {
    grid-column: 17/42;
    grid-row: 1;
  }
  .playground-2 {
    grid-column: 2/16;
    grid-row: 57;
  }
  .playground-3 {
    grid-column: 17/42;
    grid-row: 51;
  }
  .playground-4 {
    grid-column: 17/42;
    grid-row: 127;
  }
  .playground-5 {
    grid-column: 2/16;
    grid-row: 29;
  }
  .playground-6 {
    grid-column: 17/42;
    grid-row: 157;
  }
  .playground-8 {
    grid-column: 2/16;
    grid-row: 183;
  }
  .playground-9 {
    grid-column: 2/16;
    grid-row: 213;
  }
  .playground-10 {
    grid-column: 2/16;
    grid-row: 243;
  }
  .playground-11 {
    grid-column: 2/16;
    grid-row: 273;
  }
  .playground-12 {
    grid-column: 17/42;
    grid-row: 187;
  }
  .playground-13 {
    grid-column: 2/16;
    grid-row: 107;
  }
  .playground-14 {
    grid-column: 2/16;
    grid-row: 1/25;
  }
  .playground-15 {
    grid-column: 17/42;
    grid-row: 263;
  }
  .playground-16 {
    grid-column: 17/42;
    grid-row: 101;
  }
}
